#address-form-container.hide
  %a.close x
  %form
    = label_tag 'Please Enter Your Address without Apartment or Unit number'
    = text_field_tag 'address', nil, placeholder: 'Address'
    = text_field_tag 'city', nil, placeholder: 'City'
    = text_field_tag 'state', 'NY', disabled: true
    = submit_tag 'Find My Address', id: 'find-me', class: 'btn btn-primary', disabled: true
    %p.comfort-text New endorsements are disabled after the election
