#endorsement-form
  .endorsement
    = simple_form_for @endorsement, url: '/new_endorsement/', remote: true do |f|
      = f.input :candidate_id, collection: Candidate.all
      = f.input :description
      = f.input :building_id, as: :hidden
      = f.input :ip_address, as: :hidden, input_html: { value: "#{@client_ip}" }
      = f.button :submit
