#endorsement-form-container
  = simple_form_for @endorsement, url: '/new_endorsement/', remote: true do |f|
    %label Which candidate are you voting for?
    = f.input :candidate_id, collection: Candidate.all, label: false
    %br
    %label Why do you support her or him?
    = f.input :description, label: false
    = f.input :building_id, as: :hidden
    = f.input :ip_address, as: :hidden, input_html: { value: "#{@client_ip}" }
    %label Sign up if you'd like to edit your endorsement later
    = f.simple_fields_for :user, @endorsement.user do |user_form|
      = user_form.input :email, label: false, placeholder: 'Email'
      = user_form.input :password, required: false, required: false, label: false, placeholder: 'Password'
    = f.button :submit, class: 'btn btn-primary'
