!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title NYC Democratic Primary Endorsement Map
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{src: "#{'http://maps.googleapis.com/maps/api/js?key='+ENV['MAPS_API']+'&sensor=false'}",
      type: 'text/javascript'}
    = csrf_meta_tags
    = yield(:head)
  %body
    #add-endorsement +
    #map-canvas
    #container
      = yield
      / ! end of #container
    = render 'shared/address_form'
    = render 'shared/endorsement_form'

