!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title NYC Dems
    = stylesheet_link_tag "application", :media => "all"
    %script{src: "#{'http://maps.googleapis.com/maps/api/js?key='+ENV['MAPS_API']+'&sensor=false'}",
      type: 'text/javascript'}
    = csrf_meta_tags
    = yield(:head)
  %body
    #container
      {{ outlet }}

    %script{type: 'text/x-handlebars', 'data-template-name' => 'map'}
      #map-canvas

    = javascript_include_tag "application"
