<!DOCTYPE html>
<html>
<head>
  <title>NycDems</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <script type='text/javascript' src=<%= "#{'http://maps.googleapis.com/maps/api/js?key='+ENV['MAPS_API']+'&sensor=false'}" %>></script>
  <%= yield(:head) %>

</head>
<body>
  <div id='container'>
  </div>
  <script type="text/x-handlebars" data-template-name='map'>
    <div id='add-endorsement' {{action 'addEndorsement'}}>+</div>
    <div id='map-canvas'></div>
  
    {{#if showAddressForm}}
      <div id='address-form-container'>
      <form>
        <label for='address'>Address</label>
        <input id='address' type='text' />
        <label for='unit'>Unit</label>
        <input id='unit' type='text' />
        <label for='city'>City</label>
        <input id='city' type='text' />
        <label for='zip'>Zip</label>
        <input id='zip' type='text' />
      </form>
      </div>  
    {{/if}}
  </script>
  <%= javascript_include_tag "application" %>
</body>
</html>
