!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title NYC Democratic Primary Endorsement Map
    = stylesheet_link_tag "application", :media => "all"
    %script{src: "#{'http://maps.googleapis.com/maps/api/js?key='+ENV['MAPS_API']+'&sensor=false'}",
      type: 'text/javascript'}
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    - if Rails.env == 'production'
      = render 'shared/tracking'
  %body{'data-form' => "#{render('shared/endorsement_form')}"}
    - if @voted.blank?
      %a#add-endorsement + Endorse a Candidate
    - else
      %a#edit-endorsement Edit an Endorsement

    #header
      %p.lead How is NYC voting?
    #map-canvas
    %a#about-button About
    #container
      = yield
      / ! end of #container
    = render 'shared/about'
    = render 'shared/address_form'
    = render 'shared/endorsement_template'
    = render 'shared/edit_endorsement'
    = render 'shared/building_template'
